<footer class="footer">
  <div class="wrapper">
    <div class="footer-content">
      <p>&copy; 2025 ConectPet. Todos os direitos reservados.</p>
      <ul class="footer-links">
        <li><a href="/">Home</a></li>
        <li><a href="/animais">Animais</a></li>
        <li><a href="/ongs">ONGs</a></li>
        <li><a href="/contato">Contato</a></li>
      </ul>
    </div>
  </div>
</footer>