  <nav>
    <div class="container">
      <a class="logo" href="/">
        <img src="./assets/Logo.svg" alt="" />
      </a>

      <div class="mobile-menu">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
      </div>
    
      <ul class="nav-list">
        <li><a href="/">Home</a></li>
        <li><a href="/animais">Animais</a></li>
        <li><a href="/ongs">ONGs</a></li>
        <li><a href="/contato">Contato</a></li>
      </ul>
    </div>  
  </nav>

<script src="/assets/hamburger.js"></script>