<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="ConectPet - Plataforma para adoção de animais de estimação" />
    <meta name="keywords" content="adoção, animais, pets, ONGs, ConectPet" />

    <!-- Fonte do Google -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet" />

    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

    <!-- Seus estilos -->
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
   <body>
    <%- include('partials/navegador') %>

    <main>
      <div class="ongs-content">
        <h1>Sobre a ONG Late e Mia</h1>
        <h2>Lista de ONGs</h2>
        <p>
          A ONG Late e Mia vai completar 15 anos de existência em agosto de 2025. Ela foi criada e é mantida por Maria Lucia Gama, professora aposentada que se dedica incansavelmente à proteção animal.<br><br>
          Atualmente, a ONG cuida prioritariamente de gatos doentes, seja com esporotricose, sarna ou outras, uma vez que esses têm menor chance de serem ajudados e acolhidos.<br><br>
          Para se manter, a ONG tem um bazar para vender diversos produtos e gerar a renda para pagar aluguel, água, luz, internet, veterinário, despesas com alimentação e limpeza dos gatos.<br><br>
          Além disso, a ONG conta com doações de pessoas físicas e de voluntários, que doam dinheiro, trabalho, tempo e objetos em bom estado para serem vendidos.<br><br>
          A ONG fica em Barra Mansa, mas acolhe animais doentes de Volta Redonda, Pinheiral, Três Poços e não conta com o apoio de nenhuma instituição pública ou privada.
        </p>
        <div class="ongs-ajuda">
          <h3>Como ajudar</h3>
          <p>
            Doe via pix: <strong>lateemiabm@outlook.com</strong><br>
            Doação via Apoia-se: <a href="https://apoia.se/lateemia" target="_blank">https://apoia.se/lateemia</a>
          </p>
        </div>
      </div>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>